@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

h1 {
  margin: 30px;
}

.box {
  background-color: rgb(177, 220, 255);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
  transform: translateX(500%);
  transition: 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-500%);
}

.box.show {
  transform: translateX(0%);
}
